.brand-nav {
  text-transform: uppercase;
  font-size: bold;
  @include clearfix;
  margin: 0;
  padding: 1.25em 0 1.25em .75em;
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  float: left;
}
.brand-nav li {
  float: left;
  max-height: 25px;
  margin: .80em 2.20em .80em .80em;
  padding: 0;
  border-bottom: 0.2em solid transparent;
  &:hover {
    border-bottom: 0.2em solid $aqua;
  }
  a {
    color: $aqua;
    text-decoration: none;
    padding: 0 0 0.75em 0;
    display: inline-block;
  }
}
