.category-1on1 {
  float: left;
}

.category-2on1 {
  float: right;
}

.category-3on1 {
  float: right;
}

.category-4on1 {
  float: right;
}

.category-1on2 {
  float: left;
}

.category-2on2 {
  float: right;
}

.category-3on2 {
  float: right;
}

.category-4on2 {
  float: right;
}
