.product-button {
  position: absolute;
  color: $dark-green;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  border: .15em solid $dark-green;
  margin: 6.05em 3em 0 3em;
  padding: .35em .40em;
  &:hover {
    background-color: $white-opacity;
    border: .15em solid $white;
    color: $white;
    text-decoration: none;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
