//productbox
img {
  max-width: 100%;
}
.productbox {
  border: 2px solid red;
  position: relative;
  text-align: center;
  padding: 1em;
}
.productbox--info {
  background-color: $aqua-opacity;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .05em;
  color: $white;
  padding: 1em;
  opacity: 0;
}
.productbox:hover .productbox--info {
  opacity: 1;
}
.productbox .product-name .product-cost {
  margin: 0;
}
.productbox img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
