//productbox
.productbox {
  position: relative;
  width: 325px;
  height: 225px;
  background-color: transparent;
  padding: 0;
  color: $white;
  border: 2px solid $aqua;
  &:hover {
    background-color: $aqua-opacity;
    img {
      z-index: -10;
      max-width: none;
      border: 2px solid transparent;
    }
  }
  }
  .product-name {
    position: absolute;
    margin: 1.75em 3em 0 4em;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 36px;
    font-weight: 500;
    font-size: 18px;
    padding: .25em;
    &:hover {
      color: $white;
  }
}
