//productbox
.productbox {
  position: relative;
  width: 320px;
  height: 220px;
  background-color: transparent;
  padding: 3em 2em;
  color: $white;
  &:hover {
    background-color: $aqua-opacity;
    img {
      z-index: -10;
      max-width: auto;
      border: 1px solid $aqua;
    }
  }
  .product-name,.product-cost {
    position: absolute;
    margin: 0;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 18px;
    padding: .25em;
    &:hover {
      color: $white;
  }

}
}
