//shop-icon

.shop-icon {
  float: right;
  position: relative;
  text-align: center;
  padding: 0.85em;
  margin: .75em;
  width: 3em;
  height: 3em;
}
.cartitemnumber {
  margin: .20em;
  color: $white;
  font-size: 16px;
  font-weight: bold;
}
.shop-icon img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
