.shop-nav {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @include clearfix;
    margin: 0 auto;;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    font-weight: 400;
    text-align: center;
    border-top: 1px solid $aqua;
  }
.shop-nav  li {
    float: left;
    margin: .82em;
    padding: 0;
    border-bottom: 0.1em solid transparent;
    &:hover {
      border-bottom: 0.1em solid $aqua;
  }
 a {
    color: $aqua;
    text-decoration: none;
  }
}
