//variables


//typeface
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

//colors
$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;
$aqua: #6ec3c5;
$aqua-opacity: rgba(110,195,197,0.75);
$dark-green: #377e7f;
$white-opacity: rgba(255,255,255,0.75);
